.react-tabs {
  // padding: 0%;
  //   display: flex;
  //   justify-content: center;
  align-items: center;
  width: 100%;

  //   flex-wrap: wrap;
  background-color: #f4f5f7;
  ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 0;
    padding: 0 0 0 0;
    width: 100%;
  }
  &__tab-list {
    border-bottom: 1px solid #aaa;
    // margin: 0 0 10px;
    padding: 0;

    width: 100%;
    // display: flex;
    // overflow-x: auto;
    // border-bottom: 1px solid #aaa;
    margin: 0 0 0;
    // // margin-left: ;
    // padding: 0;
    justify-content: center;
    //   justify-content: cebanter;
    // align-items: center;

    background-color: #f4f5f7;
  }
  &__tab {
    background-color: #dfe1e6;
    border: 1px solid #dfe1e6;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 700;
    margin: 2px 2px 0;
    padding: 8px 20px;
    text-decoration: none;
    &:hover {
      background-color: #c1c7d0;
      border-color: #c1c7d0;
    }

    &--selected {
      background-color: #fff;
      border-color: #dfe1e6;
      cursor: default;
      //   margin-bottom: -1px;
      //   padding-bottom: 9px;
    }
  }

  &__tab-panel {
    display: none;
    background-color: "white";
    // padding: 0px 30px 0px 30px;

    &--selected {
      display: block;

      background-color: #fff;

      width: 100%;
      // max-width: 538px;
      //   min-width: 200px;
      //   margin-left: 0;
      // max-width: 850px;
      //   width: 100%;
      // // max-width: 538px;
      // width: 100%;
      // display: flex;
      // flex-direction: column;
      margin: auto;
      padding: 32px;
      // max-width: 530px;

      //   background-color: "white";
    }
    // background-color: #0931750a;
    &--selected h1 {
      width: calc(100% - 50px);
      //   padding: 5px;
      word-break: break-word;
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 10px; //   margin: 0 0 12px;
    }
    &--selected span {
      color: #172b4d;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.003em;
      line-height: 16px;
      margin-top: 16px;
      //   margin-top: 0;
      padding-top: 16px;
      margin-bottom: 16px;
    }

    &--selected input {
      margin-bottom: 8px;
      margin-top: 8px;
      // resize: vertical;
      color: #5e6c84;
    }

    &--selected textarea {
      height: 72px;
      margin-bottom: 8px;
      margin-top: 8px;
      resize: vertical;
      color: #5e6c84;
    }

    &--selected div {
      margin: auto;
      max-width: 530px;
    }
    &--selected h3 {
      width: 100%;
      //   padding: 5px;
      color: #172b4d;
      font-size: 20px;
      word-break: break-word;
      font-weight: 500;
      line-height: 26px;
      margin-top: 40px;
      margin-bottom: 20px;
      padding-bottom: 8px;
      border-bottom: 1px solid #bbb;
      //   border  border-top: 3px solid #bbb;
    }
    // &--selected

    // font-weight: 500;
    // line-height: 26px;
    // margin-top: 40px;

    &--selected .desc-prev {
      width: 100%;
      padding: 16px;
      background-color: #f4f5f7;

      //   margin: 0 0 12px;
    }
    &--selected .sub {
      background-color: #0079bf;
      box-shadow: none;
      border: none;
      color: #ffffff;
      margin-top: 40px;
      margin-right: 0;
      width: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      box-sizing: border-box;
      //   display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      cursor: pointer;
      padding: 6px 12px;
      //   text-decoration: none;
      //   white-space: normal;
      //   background-color: rgba(9, 30, 66, 0.04);
      //   box-shadow: none;
      //   border: none;
      //   transition-property: background-color, border-color, box-shadow;
      //   transition-duration: 85ms;
      //   transition-timing-function: ease;
    }
  }

  .responsive {
    display: block;
    margin: 18px auto 42px auto;
    max-width: 100%;
    height: auto;
  }
}
